*{font-family: 'Bebas Neue';}
$base-color: #66a5da;
body
{top: 0;
    margin: 0;
    background-color:$base-color}
    a{text-decoration: none; 
    color: #ffffff;}

    

.header_debut{
    display:flex ;
    justify-content: left;
}
.header_hijo{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.titulo
{
    font-size: 50px;
color: #ffffff;
text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
position: relative;
left: 100px;
}

.titulo_debut{
    margin: 500px;
    display: flex;
    justify-content: center;
    justify-content: center;
    text-decoration-line: underline;
    font-size: 100px;
    font-weight: lighter;
    color: rgb(253, 253, 253);
}
.debut{
    background-image: url(./Imagenes/IMG_1662.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

/* aca termina debut */

.header_1989{
    display:flex ;
    justify-content: left;
    background-color: $base-color;
}
.header_hijo_1989{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: $base-color;
}
.titulo_1989
{
    font-size: 50px;
color: #ebe2e2;
text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
position: relative;
left: 100px;
background-color: $base-color;
}

#navegacion_1989{
   font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 40px;
    text-decoration: none;
    text-indent: 40px;
    list-style: none;
    display: flex; 
    justify-content: end;
    position: relative;
    left: 500px;
}
.h1_1989{
    display:flex ;
    justify-content: center;
    text-decoration-line: underline;
    margin-top: 100px;
    font-size: 50px;
}
.p_1989{
    border: 2px;
    background-color: rgb(135, 135, 204);
    margin: 50px 50px 50px 1000px ;
    padding: 50px;
    width: 600px;
    height: 200px;
    display: flex; 
    
    
}

.gatito_1989{
    background-color: rgb(135, 135, 204);
    margin: 0px 50px  60px;
    padding: 50px;
    width:541px;
    height:90px;
    position: relative;
    left: 10px;
    bottom: 50px;
}



/* aca termina 1989 */

.header_padre_red{
    display:flex ;
    justify-content: left;
    background-color: $base-color;
}
.header_hijo_red{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: $base-color;
}
.titulo_red
{
    font-size: 50px;
color: #ebe2e2;
text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
position: relative;
left: 100px;
background-color: $base-color;
}

#navegacion_red{
   font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 40px;
    text-decoration: none;
    text-indent: 40px;
    list-style: none;
    display: flex; 
    justify-content: end;
    position: relative;
    left: 500px;
}
.imagen_fotolibro{
   background-color: rgb(135, 135, 204);
    width: 500px;
    margin: 0px 50px 40px 60px;
    padding: 50px;
    height: 500px;
    position: relative;
    left: 250px;
    bottom: 60px;
}

.fotolibro_titulo{
    display:flex ;
    justify-content: center;
    text-decoration-line: underline;
    margin-top: 100px;
    font-size: 50px;
}
.fotolibro_texto{
    border: 2px;
    background-color: rgb(135, 135, 204);
    margin: 50px 50px 50px 1100px ;
    padding: 50px;
    width: 500px;
    height: 500px;
    display: flex; 
}
/* aca termina red */

.header_padre_reputation{
    display:flex ;
    justify-content: left;
    background-color: $base-color;
}
.header_hijo_reputation{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: $base-color;
}
.titulo_reputation
{
    font-size: 50px;
color: #ebe2e2;
text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
position: relative;
left: 100px;
background-color: $base-color;
}

.h1_reputation{
    display:flex ;
    justify-content: center;
    text-decoration-line: underline;
    margin-top: 100px;
    font-size: 50px;
}
#navegacion_reputation{
   font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 40px;
    text-decoration: none;
    text-indent: 40px;
    list-style: none;
    display: flex; 
    justify-content: end;
    position: relative;
    left: 500px;
}
.woody{
    background-color: rgb(135, 135, 204);
     width: 200;
     margin: 500px 1100px 1100px 0px;
     padding: 0px;
     height: 300px;
     position: relative;
     left: 250px;
     bottom: 50px;
}
.goddard{
    background-color: rgb(135, 135, 204);
    width: 200;
    margin: 10px 1100px 1000px 500px;
    height: 300px;
    position: relative;
    left: 0px;
    bottom: 1500px;
     
}

#footer_delicate{
    background-color: $base-color;
     width: 100% ;
    display: inline-flex;
    justify-content: center;
    list-style:none ;
    text-indent: 30px;
    position: relative;
    bottom: 80px;
    height: 100px;
    left: 0px;
    text-align: left;
    padding: 25px;
    font-size: 25px;

}
.delicate{
    font-size: 40px;
    position: absolute;
    left: 10%;
    color: blanchedalmond;

}
/* aca termina reputation */

.header_padre_midnights{
    display:flex ;
    justify-content: left;
    background-color: $base-color;
}
.header_hijo_midnights{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: $base-color;
}
.titulo_midnights
{
    font-size: 50px;
color: #ffffff;
text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
position: relative;
left: 100px;
}

#navegacion_midnights
{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 40px;
    text-decoration: none;
    text-indent: 40px;
    list-style: none;
    display: flex; 
    justify-content: end;
    position: relative;
    left: 500px;
}

.foto_contacto{
    background-color: rgb(135, 135, 204);
    width: 500px;
    margin: 1000px 50px 40px 60px;
    padding: 5px;
    height: 500px;
    position: relative;
    left: 250px;
    bottom: 650px;

}
.div_midnights{
    align-items: center;
    align-content: center;
}
.h1_midnights{
    display:flex ;
    justify-content: center;
    text-decoration-line: underline;
    margin-top: 100px;
    font-size: 50px;
}
.midnights_parrafo{
    border: 2px;
    background-color: rgb(135, 135, 204);
    padding: 20px 20px 20px 20px;
    width: 500px;
    height: 130px;
    display: flex; 
    position: relative;
    left: 1250px;
    right: 400px;
    bottom: 1500px;
    align-items: center;
}